//메인 페이지
.slider-container-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 40px;
    overflow: hidden;
}
.my-container{
    overflow-x: hidden;
    .mainbanner {
        &:first-child{
            height: 550px;
            background: url('../img/main_banner.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:nth-child(2) {
            height: 550px;
            background: url('../img/main_banner.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:nth-child(3) {
            height: 550px;
            background: url('../img/main_banner.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
.inner {
    &:nth-child(1) {
        margin-top: 50px;
    }
}